version: "3.8"

services:
  ollama:
    image: ollama/ollama
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    entrypoint: []
    command: sh -c "ollama serve & sleep 10 && ollama pull $OLLAMA_MODEL && wait"

volumes:
  ollama_data:
